/* #dance-studio-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
} */

body {
    background-color: rgb(118, 63, 168);
}

#dance-studio-gallery {
    display: flex;
    flex-wrap: wrap;
    /* Permet aux cartes de passer à la ligne */
    justify-content: center;
    /* Centre les cartes horizontalement */
    align-items: flex-start;
    /* Aligne les cartes en haut de la ligne */
    width: 100vw;
    max-width: 100vw;
}